@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background: url("https://kristovskis.lv/4pt/shared/stripe-bg.png");
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    flex-wrap: wrap;
}

.left-panel{
    width: 25rem;
    height: 25rem;
    padding: 1.2rem;
    background: rgba(255, 255, 255, 50%);
    border-radius: 1rem 0 0 1rem;
}

.right-panel{
    width: 25rem;
    height: 25rem;
    padding: 1.2rem;
    background: rgba(95, 8, 89, 50%);
    border-radius: 0 1rem 1rem 0;
    color: #eee;
    text-align: justify;
}

.panel{
    max-width: 50rem;
    min-height: 5rem;
    padding: 1.2rem;
    background: rgba(95, 8, 89, 50%);
    border-radius: 1rem;
    color: #eee;
    text-align: center;

}

h1{
    text-align: center;
}

input{
    background: #ddd;
    border-radius: .7rem;
    padding: .7rem;
    margin: .6rem 0;
    width: 100%;
    border: none;
}

button{
    border-radius: .7rem;
    border: .1rem solid #610268;
    background: #610268;
    color: #fff;
    font-size: .8rem;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    letter-spacing: .2rem;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover{
    background: #eee;
    color:#610268;
    transition: .3s linear;
}

.stripe-button{
    background: none;
    border: .1rem solid #eee;
    color: #eee;
}